* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GILROY;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Fonts */

* Gilroy Thin */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
}

/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
}

/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* Gilroy Semi-Bold */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 500;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 600;
}

/* Gilroy Extra-Bold */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

/* Gilroy Black */
@font-face {
  font-family: "Gilroy";
  src: url("./Fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: MONUMENT;
  src: url(MonumentExtended-Ultrabold.otf);
}

/* Main Webpage Design */

#main {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 0.1px;
  background-color: #f8f8f8;
  /* background-color: #f3c9c9; */
}

/* Navbar Full Section */

#nav {
  height: 10vh;
  width: 100%;
  margin-top: 40px;
  /* background-color: crimson; */
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav h1 {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: MONUMENT;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -5px;
  position: relative;
  /* background-color: rgb(179, 255, 0); */
}

#nav h1::after {
  content: "©️";
  font-family: Gilroy;
  font-weight: 700;
  position: absolute;
  top: 10%;
  right: 13%;
  font-size: 40px;
}

#nav h1::before {
  content: "Model Management";
  text-transform: lowercase;
  font-family: Gilroy;
  font-weight: 700;
  position: absolute;
  bottom: 17%;
  right: 22%;
  color: #5a5a5a;
  letter-spacing: 0.1px;
  font-size: 13px;
}

#nav h2 {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #000000;
  font-size: 26px;
  font-weight: 700;
  /* background-color: rgb(179, 255, 0); */
}

#nav h2:nth-last-child(2) {
  /* background-color: crimson; */
  width: 29%;
}

#nav h2:nth-last-child(1) {
  /* background-color: crimson; */
  width: 10%;
}

/* Video Full Section */

#center {
  width: 100;
  height: 80%;
  /* background-color: crimson; */
  padding: 3vw;
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: violet; */
}

#content video {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 3vw;
  /* background-color: rgb(255, 45, 168); */
  color: #ffffff;
}

#over1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vw;
}

#over1 h1 {
  font-family: MONUMENT;
  font-size: 3.4vw;
  mix-blend-mode: difference;
}

#over1 h2 {
  font-size: 1vw;
  padding: 2vw 2.2vw;
  border-radius: 50%;
  border: 2px solid #ffffff;
  mix-blend-mode: difference;
  /* background-color: blueviolet; */
}

#over2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #ffffff;
  padding: 1vw 0;
  mix-blend-mode: difference;
}

#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

#over2 img {
  height: 4.5vw;
}

/* Scroll Animation Full Section */

#scroll {
  height: 40vh;
  width: 100%;
  background-color: #f8f8f8;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  height: 100%;
  width: 110%;
  display: inline-block;
  padding: 2vw;
  margin-right: 16.8vw;
  animation-name: scroll_anime;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroll img {
  /* display: none; */
  height: 100%;
  width: 15%;
  object-fit: cover;
  object-position: 30% 40%;
  margin: 1vw;
  border-radius: 50%;
}

@keyframes scroll_anime {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

/* Alphabet  Full Section */

#alphabet {
  height: 10vh;
  width: 100%;
  /* background-color: crimson; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

#alphabet h5 {
  font-size: 2vw;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  border-bottom: 2px solid black;
  letter-spacing: 4px;
  margin-right: 2vw;
}

#alphabet h6 {
  align-items: center;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 4px;
  /* background-color: yellow; */
  border-radius: 50%;
  border: 1.5px solid rgba(0, 0, 0, 0);
  padding: 0.4vw 0.6vw;
  cursor: none;
  transition: all ease 0.2s;
}
#alphabet h6:hover {
  border: 1.5px solid rgb(0, 0, 0);
}

/* Page 2 Full Section */

#page2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  padding-bottom: 0.7vw;
}

#page2_part1 {
  height: 100%;
  width: 57%;
  border-radius: 15px;
  background-image: url(./page2\ assets/img1.jpg);
  background-size: cover;
  background-position: 0% 60%;
  background-repeat: no-repeat;
}

#page2_part2 {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page2_part2 #image {
  height: 73%;
  width: 100%;
  border-radius: 15px;
  background-image: url(./page2\ assets/img2.jpg);
  background-size: cover;
}

#page2_part2 #text {
  display: flex;
  justify-content: space-between;
}

#page2_part2 #text #text-left h3 {
  font-size: 1.5vw;
  font-weight: 700;
}

#page2_part2 #text #text-right h6 {
  font-size: 1vw;
  font-weight: 500;
}

/* Page 3  Full Section */

#page3 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0vw 0vw 0vw 4vw;
}

#page3 #page3_header {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  /* background-color: crimson; */
}

#page3 #page3_header h1 {
  font-family: MONUMENT;
  font-size: 2.5vw;
  letter-spacing: 0.12vw;
}

#page3 #page3_content {
  height: 90%;
  width: 100%;
  padding: 4vw;
  display: flex;
  /* background-color: violet; */
}

#left_section {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 5%; */
  /* background-color: crimson; */
}

#right_section {
  height: 100%;
  width: 65%;
  background-image: url(./page3\ assets/img1.jpg);
  background-size: cover;
  border-radius: 15px;
  background-position: center;
  background-color: rgb(80, 20, 220);
}

/* SVG TEXT CIRCULAR ANIMATION */

#left_section text {
  fill: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 600;
  font-variant-ligatures: none;
  letter-spacing: 10px;
  animation: rotate 10s linear infinite;
  transform-origin: 250px 250px;
}

#left_section text:hover {
  fill: rgb(207, 44, 44);
}

#left_section svg {
  max-width: 80vmin;
  position: relative;
  top: 20%;
  right: 15%;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

#left_section svg:hover .textcircle {
  transform: scale(1.2) rotate(90deg);
}

/* Animation Done */

#left_section #circulartext {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#circulartext #icon img {
  height: 6vw;
  position: absolute;
  top: 58%;
  right: 50%;
}
#left_section #heading {
  align-self: flex-start;
}
#left_section #heading h4 {
  font-size: 1.5vw;
  font-weight: 700;
}

/* Page 4  Full Section */

#page4 {
  height: 100%;
  width: 100%;
  padding: 1.3vw 4vw;
  /* background-color: crimson; */
}
#page4_content {
  height: 100%;
  width: 100%;
  background-image: url("./page4 assets/img1.jpg");
  background-size: cover;
  border-radius: 15px;
  background-color: purple;
}

/* Page 5 Full Section */

#page5 {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 5vw 4vw;
  /* background-color: crimson; */
}
#page5 > h1 {
  text-align: center;
  font-family: MONUMENT;
  text-transform: uppercase;
  font-size: 3vw;
  margin-bottom: 9vh;
  /* font-weight: 900; */
}
.elements {
  height: 15vh;
  width: 100%;
  /* background-color: crimson; */
  border-top: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
}

.elements:nth-last-child(1) {
  border-bottom: 3px solid black;
}
.elements img {
  height: 120px;
  width: 150px;
  position: absolute;
  object-position: top;
  object-fit: cover;
  left: 10%;
  border-radius: 50%;
  opacity: 0;
  transition: all ease 0.7s;
}
.elements:nth-last-child(1) img {
  object-position: center;
  left: 40%;
}
.elements:nth-last-child(3) img {
  object-position: center;
  left: 40%;
}
.elements:hover img {
  opacity: 1;
  left: 25%;
}
.elements:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: none;
}
.elements h4 {
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 500;
  width: 6%;
}
.elements .elements_part2 {
  width: 51%;
}
.elements .elements_part2 h1 {
  font-size: 2.7vw;
  font-weight: 500;
}
.elements .elements_part2 h5 {
  font-size: 0.9vw;
  font-weight: 500;
  text-transform: uppercase;
}

/* Page 6 Full Section */

#page6 {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5vw;
  /* background-color: crimson; */
  padding: 4vw;
}

#page6-left_section {
  height: 100%;
  width: 45%;
  /* background-color: black; */
}
#page6-left_section img {
  border-radius: 15px;
  object-fit: cover;
  object-position: 0 65%;
  height: 100%;
  width: 100%;
}

#page6-right_section {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: rgb(93, 64, 223); */
}

#page6_textarea {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

#page6_textarea h1 {
  font-family: MONUMENT;
  text-transform: uppercase;
  font-size: 3.3vw;
}
#page6_textarea h4 {
  font-size: 1.9vw;
  line-height: 1.9vw;
  font-weight: 500;
}
#page6_textarea p {
  font-size: 1vw;
  font-weight: 500;
}

#imagespage6 {
  height: 50%;
  width: 100%;
  display: flex;
  gap: 2vw;
  /* background-color: crimson; */
}
#image1 {
  height: 100%;
  width: 60%;
  border-radius: 7px;
  background-image: url(./page6\ assets/img2.jpg);
  background-size: cover;
  background-position: 0 40%;
  /* background-color: greenyellow; */
}
#image2 {
  height: 100%;
  width: 40%;
  border-radius: 7px;
  background-image: url(./page6\ assets/img3.jpg);
  background-size: cover;
  background-position: center;
  /* background-color: greenyellow; */
}

/* Page 7 Full Section */

#page7 {
  height: 100%;
  width: 100%;
  padding: 4vw;
}

#page7image {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-image: url(./page7\ assets/img1.jpg);
  background-size: cover;
  background-position: bottom;
}

/* Page 8 Full Section */

#page8 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw;
  /* padding-bottom: 0.7vw; */
}

#page8_part1 {
  height: 100%;
  width: 55%;
  border-radius: 15px;
  background-image: url(./page8\ assets/img1.jpg);
  background-size: cover;
  background-position: 0 30%;
  background-repeat: no-repeat;
}

#page8_part2 {
  height: 100%;
  width: 42%;
  display: flex;
  gap: 2vw;
  flex-direction: column;
  justify-content: space-between;
}

#page8_image {
  height: 73%;
  width: 100%;
  border-radius: 15px;
  background-image: url(./page8\ assets/img2.jpg);
  background-size: cover;
  background-position: center;
}

#page8_text {
  display: flex;
  justify-content: space-between;
}

#page8_text-left h3 {
  font-size: 1.7vw;
  font-weight: 500;
}

#page8_text-right {
  width: 50%;
}

#page8_text-right h6 {
  font-size: 1.2vw;
  font-weight: 500;
}

/* Page 9 Full Section */

#page9 {
  height: 100%;
  width: 100%;
}

#marque {
  /* height: 15vh; */
  width: 100%;
  /* background-color: crimson; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#marque h1 {
  /* background-color: black; */
  display: inline-block;
  letter-spacing: 6px;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  font-family: MONUMENT;
  margin-right: 16px;
  animation: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc(-100% - 20px));
  }
}

#page9_content {
  height: 90%;
  width: 100%;
  padding: 4vw;
  display: flex;
  gap: 3.5vw;
  /* background-color: violet; */
}

#page9_left-section {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: space-between;
  /* background-color: greenyellow; */
}

#page9_left-section h1 {
  font-family: MONUMENT;
  font-size: 3.5vw;
  text-transform: uppercase;
}

#page9_informationleft {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
  padding-bottom: 3vw;
}

#page9_informationleft h3 {
  font-size: 1.6vw;
  font-weight: 500;
}

#page9imageleft {
  height: 70%;
  width: 100%;
  border-radius: 15px;
  background-image: url(./page9\ assets/img1.jpg);
  background-size: cover;
  background-position: 0 15%;
  /* background-color: yellow; */
}

#page9_right-section {
  height: 100%;
  width: 45%;
  /* background-color: rgb(153, 255, 0); */
}

#page9_informationright {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
  padding-bottom: 3vw;
}

#page9_informationright h3 {
  font-size: 1.6vw;
  font-weight: 500;
}

#page9imageright {
  height: 70%;
  width: 100%;
  border-radius: 15px;
  background-image: url(./page9\ assets/img2.jpg);
  background-size: cover;
  background-position: 0 30%;
  /* background-color: yellow; */
}

/* Footer Full Section */

#page10 {
  height: 50%;
  width: 100%;
  /* border: 3px solid; */
}

#footer {
  height: 35vh;
  width: 100%;
  display: flex;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  /* border: 3px solid red; */
}

#footer #part1 {
  height: 100%;
  width: 40%;
  /* border: 3px solid; */
  display: flex;
  justify-content: space-between;
  padding: 1vw 4vw;
}

#footer h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-family: MONUMENT;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -5px;
  position: relative;
  /* background-color: rgb(179, 255, 0); */
}

#footer h1::after {
  content: "©️";
  font-family: Gilroy;
  font-weight: 700;
  position: absolute;
  top: -5%;
  right: -17%;
  font-size: 40px;
}

#footer h1::before {
  content: "Model Management";
  text-transform: lowercase;
  font-family: Gilroy;
  font-weight: 700;
  position: absolute;
  top: 14%;
  right: -2%;
  color: rgb(90, 90, 90);
  letter-spacing: 0.1px;
  font-size: 13px;
}

#footer h2 {
  position: relative;
  top: 3%;
  font-size: 26px;
  font-weight: 700;
  /* background-color: rgb(179, 255, 0); */
}

#footer #part2 {
  height: 100%;
  width: 20%;
  padding-top: 1vw;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#footer #part2 h2 {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  /* background-color: rgb(179, 255, 0); */
}

#footer #part3 {
  height: 100%;
  width: 40%;
  padding-top: 1vw;
  /* border: 3px solid; */
}

#footer #part3 h2 {
  height: 3.3vw;
  display: flex;
  padding-left: 3vw;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 3px solid black;
  /* background-color: crimson; */
}

#footer #part3 #socialmedia {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2vw;
  padding-left: 3vw;
  justify-content: space-around;
  /* background-color: rgb(43, 255, 0); */
}

#footer #part3 #socialmedia #links {
  font-size: 1.5vw;
}

#footer #part3 #socialmedia #links i {
  padding-right: 1vw;
}

#footer #part3 #socialmedia #information {
  font-size: 1vw;
  font-weight: 500;
}

@media (max-width: 425px) {
  body,
  html {
    overflow-x: hidden;
  }

  #nav {
    height: 8vh;
    margin-top: 20px;
    padding: 0 5vw;
  }

  #nav h1 {
    width: 40%;
    font-size: 24px;
    letter-spacing: -1px;
    position: relative;
  }

  #nav h1::after {
    display: none;
  }

  #nav h1::before {
    display: none;
  }

  #nav h3 {
    display: block;
  }

  #nav h2 {
    display: none;
  }

  /* Video Full Section */

  #center {
    width: 100%;
    height: 50%;
  }

  #overlay {
    height: 35%;
  }

  #over1 h1 {
    font-size: 6vw;
    letter-spacing: 2px;
  }

  #over1 h2 {
    font-size: 2.7vw;
    padding: 2vw 2.2vw;
  }

  #over2 h4 {
    font-size: 4.3vw;
  }

  #over2 img {
    height: 9.5vw;
  }

  /* Scroll Animation Full Section */

  #scroll {
    height: 17vh;
    width: 100%;
  }

  #container {
    height: 100%;
    width: 210%;
  }

  #scroll img {
    width: 14.25%;
    margin: 1vw;
    border-radius: 50%;
  }

  #alphabet {
    height: 8vh;
    width: 100%;
    margin-top: 4vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  #alphabet h5 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    margin-right: 2vw;
  }

  #alphabet h6 {
    display: none;
  }

  /* Page 2 Full Section */

  #page2 {
    height: 40%;
  }

  #page2_part2 {
    height: 100%;
    width: 35%;
  }

  #page2_part2 #image {
    height: 70%;
    width: 100%;
  }

  #page2_part2 #text #text-left h3 {
    width: 100px;
    font-size: 3vw;
    font-weight: 700;
  }

  #page2_part2 #text #text-right h6 {
    display: none;
    font-size: 1vw;
    font-weight: 500;
  }

   /* Page 3  Full Section */

  #page3 {
    height: 35%;
    position: relative;
  }

  #page3 #page3_header {
    height: 40%;
  }

  #page3 #page3_header h1 {
    font-size: 4vw;
  }

   /* SVG TEXT CIRCULAR ANIMATION */

  #left_section svg {
    max-width: 25vmin;
    position: relative;
    top: -25%;
    right: 15%;
  }

    /* Animation Done */

  #left_section text {
    animation: rotate 5s linear infinite;
  }

  #left_section #circulartext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #circulartext #icon img {
    height: 6vw;
    position: absolute;
    top: 22%;
    right: 50%;
  }

  #left_section #heading h4 {
    position: absolute;
    top: 85%;
    font-size: 1.7vw;
  }

    /* Page 4  Full Section */

  #page4 {
    height: 30%;
    padding: 1.3vw 4vw;
    /* background-color: crimson; */
  }

  
  /* Page 5 Full Section */

  #page5 {
    height: 33%;
  }
  #page5 > h1 {
    font-size: 3vw;
    margin-bottom: 3vh;
  }
  .elements {
    height: 5vh;
    border-top: 1.5px solid black;
  }
  .elements:nth-last-child(1) {
    border-bottom: 1.5px solid black;
  }
  .elements img {
    height: 25px;
    width: 35px;
    left: 10%;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.7s;
  }
  .elements:nth-last-child(1) img {
    object-position: center;
    left: 38%;
  }
  .elements:nth-last-child(3) img {
    object-position: center;
    left: 38%;
  }
  .elements:hover img {
    opacity: 1;
    left: 25%;
  }

  .elements h4 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
  }
  .elements .elements_part2 {
    width: 51%;
  }
  .elements .elements_part2 h1 {
    font-size: 2.5vw;
    font-weight: 500;
  }
  .elements .elements_part2 h5 {
    font-size: 1.1vw;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* Page 6 Full Section */

  #page6 {
    height: 35%;
  }

  #page6_textarea {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  #page6_textarea h1 {
    font-family: MONUMENT;
    text-transform: uppercase;
    font-size: 5.3vw;
  }
  #page6_textarea h4 {
    font-size: 3.2vw;
    line-height: 3.5vw;
    font-weight: 500;
  }
  #page6_textarea p {
    display: none;
  }

  /* Page 7 Full Section */

  #page7 {
    height: 35%;
    width: 100%;
    padding: 4vw;
  }

  #page7image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-image: url(./page7\ assets/img1.jpg);
    background-size: cover;
    background-position: bottom;
  }

  /* Page 8 Full Section */

  #page8 {
    height: 40%;
  }

  #page8_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page8_text-left h3 {
    width: 100%;
    font-size: 3vw;
    font-weight: 700;
  }

  #page8_text-right h6 {
    display: none;
  }

  /* Page 9 Full Section */

  #page9 {
    height: 30%;
    width: 100%;
  }

  #marque {
    padding: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  #marque h1 {
    letter-spacing: 2px;
    font-size: 3vw;
    -webkit-text-stroke: 0.3px black;
    margin-right: 2px;
  }

  #page9_content {
    height: 80%;
    padding-bottom: 1vw;
    /* background-color: violet; */
  }

  #page9_left-section {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    /* background-color: greenyellow; */
  }

  #page9_left-section h1 {
    font-family: MONUMENT;
    font-size: 4.5vw;
    text-transform: uppercase;
  }

  /* Footer Full Section */

  #page10 {
    height: 15%;
    width: 100%;
    /* border: 3px solid; */
  }

  #footer {
    height: 10vh;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
  }

  #footer #part1 {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1vw 4vw;
  }

  #footer h1 {
    font-size: 15px;
    letter-spacing: -2px;
  }

  #footer h1::after {
    top: -3%;
    right: -13%;
    font-size: 10px;
  }

  #footer h1::before {
    top: 20%;
    right: -2%;
    font-size: 5px;
  }

  #footer h2 {
    position: relative;
    top: 3%;
    font-size: 7px;
    /* background-color: rgb(179, 255, 0); */
  }

  #footer #part2 {
    height: 100%;
    width: 20%;
    padding-top: 1vw;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
  }

  #footer #part2 h2 {
    font-size: 7px;
  }

  #footer #part3 h2 {
    font-size: 7px;
    font-weight: 700;
    border-bottom: 1.5px solid black;
  }

  #footer #part3 #socialmedia #links {
    font-size: 2vw;
  }

  #footer #part3 #socialmedia #links i {
    padding-right: 1vw;
  }

  #footer #part3 #socialmedia #information {
    font-size: 1.3vw;
  }
}

@media (min-width: 426px) and (max-width: 768px) {

  body,
  html {
    overflow-x: hidden;
  }

  #nav {
    height: 7vh;
    margin-top: 20px;
    padding: 0 5vw;
  }

  #nav h1 {
    width: 30%;
    font-size: 30px;
    letter-spacing: -1px;
    position: relative;
  }

  #nav h1::after {
    display: none;
  }

  #nav h1::before {
    display: none;
  }

  #nav h3 {
    display: block;
  }

  #nav h2 {
    display: none;
  }

  /* Video Full Section */

  #center {
    width: 100%;
    height: 50%;
  }

  #overlay {
    height: 45%;
  }

  #over1 h1 {
    font-size: 4vw;
    letter-spacing: 2px;
  }

  #over1 h2 {
    font-size: 1.7vw;
    padding: 2vw 2.2vw;
  }

  #over2 h4 {
    font-size: 3.3vw;
  }

  #over2 img {
    height: 6.5vw;
  }

  /* Scroll Animation Full Section */

  #scroll {
    height: 18vh;
    width: 100%;
  }

  #container {
    height: 100%;
    width: 150%;
  }

  #scroll img {
    width: 12.25%;
    margin: 2.6vw;
    border-radius: 50%;
  }

  #alphabet {
    height: 8vh;
    width: 100%;
    margin-top: 4vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  #alphabet h5 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    margin-right: 2vw;
  }

  #alphabet h6 {
    display: none;
  }

  /* Page 2 Full Section */

  #page2 {
    height: 50%;
  }

  #page2_part2 {
    height: 100%;
    width: 35%;
  }

  #page2_part2 #image {
    height: 70%;
    width: 100%;
  }

  #page2_part2 #text #text-left h3 {
    width: 230px;
    font-size: 3vw;
    font-weight: 700;
  }

  #page2_part2 #text #text-right h6 {
    display: none;
  }

  /* Page 3  Full Section */

  #page3 {
    height: 55%;
    position: relative;
  }

  #page3 #page3_header {
    height: 40%;
  }

  #page3 #page3_header h1 {
    font-size: 4vw;
  }

  /* SVG TEXT CIRCULAR ANIMATION */

  #left_section svg {
    max-width: 25vmin;
    position: relative;
    top: -15%;
    right: 15%;
  }

  /* Animation Done */

  #left_section text {
    animation: rotate 5s linear infinite;
  }

  #left_section #circulartext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #circulartext #icon img {
    height: 6vw;
    position: absolute;
    top: 30%;
    right: 50%;
  }

  #left_section #heading h4 {
    position: absolute;
    top: 85%;
    font-size: 1.7vw;
  }

  /* Page 4  Full Section */

  #page4 {
    height: 40%;
    padding: 1.3vw 4vw;
    /* background-color: crimson; */
  }

  /* Page 5 Full Section */

  #page5 {
    height: 33%;
  }
  #page5 > h1 {
    font-size: 3vw;
    margin-bottom: 3vh;
  }
  .elements {
    height: 5vh;
    border-top: 1.5px solid black;
  }
  .elements:nth-last-child(1) {
    border-bottom: 1.5px solid black;
  }
  .elements img {
    height: 25px;
    width: 35px;
    left: 10%;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.7s;
  }
  .elements:nth-last-child(1) img {
    object-position: center;
    left: 38%;
  }
  .elements:nth-last-child(3) img {
    object-position: center;
    left: 38%;
  }
  .elements:hover img {
    opacity: 1;
    left: 25%;
  }

  .elements h4 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
  }
  .elements .elements_part2 {
    width: 51%;
  }
  .elements .elements_part2 h1 {
    font-size: 2.5vw;
    font-weight: 500;
  }
  .elements .elements_part2 h5 {
    font-size: 1.1vw;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* Page 6 Full Section */

  #page6 {
    height: 60%;
  }

  #page6_textarea {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  #page6_textarea h1 {
    font-family: MONUMENT;
    text-transform: uppercase;
    font-size: 4.3vw;
  }
  #page6_textarea h4 {
    font-size: 2.2vw;
    line-height: 3.5vw;
    font-weight: 500;
  }
  #page6_textarea p {
    display: none;
  }

  /* Page 7 Full Section */

  #page7 {
    height: 50%;
    width: 100%;
    padding: 4vw;
  }

  #page7image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-image: url(./page7\ assets/img1.jpg);
    background-size: cover;
    background-position: bottom;
  }

  /* Page 8 Full Section */

  #page8 {
    height: 60%;
  }

  #page8_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page8_text-left h3 {
    width: 100%;
    font-size: 3vw;
    font-weight: 700;
  }

  #page8_text-right h6 {
    display: none;
  }

  /* Page 9 Full Section */

  #page9 {
    height: 50%;
    width: 100%;
  }

  #marque {
    padding: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  #marque h1 {
    letter-spacing: 2px;
    font-size: 3vw;
    -webkit-text-stroke: 0.3px black;
    margin-right: 2px;
  }


  #page9_content {
    height: 80%;
    padding-bottom: 1vw;
  }

  #page9_left-section {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    /* background-color: greenyellow; */
  }

 
  #page9_left-section h1 {
    font-family: MONUMENT;
    font-size: 4.5vw;
    text-transform: uppercase;
  }

  /* Footer Full Section */

  #page10 {
    height: 20%;
    width: 100%;
    /* border: 3px solid; */
  }

  #footer {
    height: 15vh;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
  }

  #footer #part1 {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1vw 4vw;
  }

  #footer h1 {
    font-size: 4vw;
    letter-spacing: -2px;
  }

  #footer h1::after {
    top: -3%;
    right: -13%;
    font-size: 2vw;
  }

  #footer h1::before {
    top: 20%;
    right: -2%;
    font-size: 1.3vw;
  }

  #footer h2 {
    position: relative;
    top: 3%;
    font-size: 1.8vw;
  }

  #footer #part2 {
    height: 100%;
    width: 20%;
    padding-top: 1vw;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
  }

  #footer #part2 h2 {
    font-size: 1.8vw;
  }

  #footer #part3 h2 {
    font-size: 1.8vw;
    font-weight: 700;
    border-bottom: 1.5px solid black;
  }

  #footer #part3 #socialmedia #links {
    font-size: 2vw;
  }

  #footer #part3 #socialmedia #links i {
    padding-right: 1vw;
  }

  #footer #part3 #socialmedia #information {
    font-size: 1.3vw;
  }

  
}

@media (min-width: 769px) and (max-width: 1024px) {

  body,
  html {
    overflow-x: hidden;
  }

  #nav {
    height: 7vh;
    margin-top: 20px;
    padding: 0 5vw;
  }

  #nav h1 {
    width: 30%;
    font-size: 30px;
    letter-spacing: -1px;
    position: relative;
  }

  #nav h1::after {
    display: none;
  }

  #nav h1::before {
    display: none;
  }

  #nav h3 {
    display: block;
  }

  #nav h2 {
    display: none;
  }

  /* Video Full Section */

  #center {
    width: 100%;
    height: 50%;
  }

  #overlay {
    height: 45%;
  }

  #over1 h1 {
    font-size: 4vw;
    letter-spacing: 2px;
  }

  #over1 h2 {
    font-size: 1.7vw;
    padding: 2vw 2.2vw;
  }

  #over2 h4 {
    font-size: 3.3vw;
  }

  #over2 img {
    height: 6.5vw;
  }

  /* Scroll Animation Full Section */

  #scroll {
    height: 18vh;
    width: 100%;
  }

  #container {
    height: 100%;
    width: 150%;
  }

  #scroll img {
    width: 12.25%;
    margin: 2.6vw;
    border-radius: 50%;
  }

  #alphabet {
    height: 8vh;
    width: 100%;
    margin-top: 4vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  #alphabet h5 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    margin-right: 2vw;
  }

  #alphabet h6 {
    display: none;
  }

  /* Page 2 Full Section */

  #page2 {
    height: 50%;
  }

  #page2_part2 {
    height: 100%;
    width: 35%;
  }

  #page2_part2 #image {
    height: 70%;
    width: 100%;
  }

  #page2_part2 #text #text-left h3 {
    width: 230px;
    font-size: 3vw;
    font-weight: 700;
  }

  #page2_part2 #text #text-right h6 {
    display: none;
  }

  /* Page 3  Full Section */

  #page3 {
    height: 55%;
    position: relative;
  }

  #page3 #page3_header {
    height: 40%;
  }

  #page3 #page3_header h1 {
    font-size: 4vw;
  }

  /* SVG TEXT CIRCULAR ANIMATION */

  #left_section svg {
    max-width: 25vmin;
    position: relative;
    top: -15%;
    right: 15%;
  }

  /* Animation Done */

  #left_section text {
    animation: rotate 5s linear infinite;
  }

  #left_section #circulartext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #circulartext #icon img {
    height: 6vw;
    position: absolute;
    top: 30%;
    right: 50%;
  }

  #left_section #heading h4 {
    position: absolute;
    top: 85%;
    font-size: 1.7vw;
  }

  /* Page 4  Full Section */

  #page4 {
    height: 40%;
    padding: 1.3vw 4vw;
    /* background-color: crimson; */
  }

  /* Page 5 Full Section */

  #page5 {
    height: 33%;
  }
  #page5 > h1 {
    font-size: 3vw;
    margin-bottom: 3vh;
  }
  .elements {
    height: 5vh;
    border-top: 1.5px solid black;
  }
  .elements:nth-last-child(1) {
    border-bottom: 1.5px solid black;
  }
  .elements img {
    height: 25px;
    width: 35px;
    left: 10%;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.7s;
  }
  .elements:nth-last-child(1) img {
    object-position: center;
    left: 38%;
  }
  .elements:nth-last-child(3) img {
    object-position: center;
    left: 38%;
  }
  .elements:hover img {
    opacity: 1;
    left: 25%;
  }

  .elements h4 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
  }
  .elements .elements_part2 {
    width: 51%;
  }
  .elements .elements_part2 h1 {
    font-size: 2.5vw;
    font-weight: 500;
  }
  .elements .elements_part2 h5 {
    font-size: 1.1vw;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* Page 6 Full Section */

  #page6 {
    height: 60%;
  }

  #page6_textarea {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  #page6_textarea h1 {
    font-family: MONUMENT;
    text-transform: uppercase;
    font-size: 4.3vw;
  }
  #page6_textarea h4 {
    font-size: 2.2vw;
    line-height: 3.5vw;
    font-weight: 500;
  }
  #page6_textarea p {
    display: none;
  }

  /* Page 7 Full Section */

  #page7 {
    height: 50%;
    width: 100%;
    padding: 4vw;
  }

  #page7image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-image: url(./page7\ assets/img1.jpg);
    background-size: cover;
    background-position: bottom;
  }

  /* Page 8 Full Section */

  #page8 {
    height: 60%;
  }

  #page8_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page8_text-left h3 {
    width: 100%;
    font-size: 3vw;
    font-weight: 700;
  }

  #page8_text-right h6 {
    display: none;
  }

  /* Page 9 Full Section */

  #page9 {
    height: 50%;
    width: 100%;
  }

  #marque {
    padding: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  #marque h1 {
    letter-spacing: 2px;
    font-size: 3vw;
    -webkit-text-stroke: 0.3px black;
    margin-right: 2px;
  }


  #page9_content {
    height: 80%;
    padding-bottom: 1vw;
  }

  #page9_left-section {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    /* background-color: greenyellow; */
  }

 
  #page9_left-section h1 {
    font-family: MONUMENT;
    font-size: 4.5vw;
    text-transform: uppercase;
  }

  /* Footer Full Section */

  #page10 {
    height: 20%;
    width: 100%;
    /* border: 3px solid; */
  }

  #footer {
    height: 15vh;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
  }

  #footer #part1 {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1vw 4vw;
  }

  #footer h1 {
    font-size: 4vw;
    letter-spacing: -2px;
  }

  #footer h1::after {
    top: -3%;
    right: -13%;
    font-size: 2vw;
  }

  #footer h1::before {
    top: 20%;
    right: -2%;
    font-size: 1.3vw;
  }

  #footer h2 {
    position: relative;
    top: 3%;
    font-size: 1.8vw;
  }

  #footer #part2 {
    height: 100%;
    width: 20%;
    padding-top: 1vw;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
  }

  #footer #part2 h2 {
    font-size: 1.8vw;
  }

  #footer #part3 h2 {
    font-size: 1.8vw;
    font-weight: 700;
    border-bottom: 1.5px solid black;
  }

  #footer #part3 #socialmedia #links {
    font-size: 2vw;
  }

  #footer #part3 #socialmedia #links i {
    padding-right: 1vw;
  }

  #footer #part3 #socialmedia #information {
    font-size: 1.3vw;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {

  body,
  html {
    overflow-x: hidden;
  }

  #nav {
    height: 9vh;
    margin-top: 20px;
    padding: 0 5vw;
  }

  #nav h1 {
    width: 15%;
    font-size: 2.5vw;
    letter-spacing: -1px;
    position: relative;
  }

  #nav h1::after {
    display: none;
  }

  #nav h1::before {
    display: none;
  }

  #nav h3 {
    display: block;
    font-size: 2.5vw;
  }

  #nav h2 {
    display: none;
  }

  /* Video Full Section */

  #center {
    width: 100%;
    height: 80%;
  }

  #overlay {
    height: 55%;
  }

  #over1 h1 {
    font-size: 2.5vw;
    letter-spacing: 2px;
  }

  #over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
  }

  #over2 h4 {
    font-size: 2vw;
  }

  #over2 img {
    height: 4.5vw;
  }

  /* Scroll Animation Full Section */

  #scroll {
    height: 20vw;
    width: 120%;
  }

  #container {
    height: 92%;
    width: 135%;
  }

  #scroll img {
    width: 11.25%;
    margin: 3.5vw;
    border-radius: 50%;
  }

  #alphabet {
    height: 13vh;
    width: 100%;
    margin-top: 4vh;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }

  #alphabet h5 {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid black;
    letter-spacing: 4px;
    margin-right: 2vw;
  }

    #alphabet h6 {
      align-items: center;
      font-size: 1vw;
    }

  /* Page 2 Full Section */

  #page2 {
    height: 90%;
  }

  #page2_part2 {
    height: 100%;
    width: 35%;
  }

  #page2_part2 #image {
    height: 70%;
    width: 100%;
  }

  #page2_part2 #text #text-left h3 {
    width: 400px;
    font-size: 3vw;
    font-weight: 700;
  }

  #page2_part2 #text #text-right h6 {
    display: none;
  }

  /* Page 3  Full Section */

  #page3 {
    height: 100%;
    position: relative;
  }

  #page3 #page3_header {
    height: 20%;
  }

  #page3 #page3_header h1 {
    font-size: 3vw;
  }

  /* SVG TEXT CIRCULAR ANIMATION */

  #left_section svg {
    max-width: 35vmin;
    position: relative;
    top: 10%;
    right: 15%;
  }

  /* Animation Done */

  #left_section text {
    animation: rotate 5s linear infinite;
  }

  #left_section #circulartext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #circulartext #icon img {
    height: 6vw;
    position: absolute;
    top: 50%;
    right: 50%;
  }

  #left_section #heading h4 {
    position: absolute;
    top: 85%;
    font-size: 1.7vw;
  }

  /* Page 4  Full Section */

  #page4 {
    height: 80%;
    padding: 1.3vw 4vw;
    /* background-color: crimson; */
  }

  /* Page 5 Full Section */

  #page5 {
    height: 50%;
    padding-top: 2vw;
  }
  #page5 > h1 {
    font-size: 3vw;
    margin-bottom: 3vh;
  }

  .elements {
    height: 9vh;
    border-top: 3px solid black;
  }
  .elements:nth-last-child(1) {
    border-bottom: 3px solid black;
  }
  .elements img {
    height: 4vw;
    width: 5vw;
    left: 10%;
    border-radius: 50%;
    opacity: 0;
    transition: all ease 0.7s;
  }
  .elements:nth-last-child(1) img {
    object-position: center;
    left: 38%;
  }
  .elements:nth-last-child(3) img {
    object-position: center;
    left: 38%;
  }
  .elements:hover img {
    opacity: 1;
    left: 25%;
  }

  .elements h4 {
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
  }
  .elements .elements_part2 {
    width: 51%;
  }
  .elements .elements_part2 h1 {
    font-size: 2.5vw;
    font-weight: 500;
  }
  .elements .elements_part2 h5 {
    font-size: 1.1vw;
    font-weight: 500;
    text-transform: uppercase;
  }

  /* Page 6 Full Section */

  #page6 {
    height: 100%;
  }

  #page6_textarea {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  #page6_textarea h1 {
    font-family: MONUMENT;
    text-transform: uppercase;
    font-size: 4.3vw;
  }
  #page6_textarea h4 {
    font-size: 2.2vw;
    line-height: 3.5vw;
    font-weight: 500;
  }
  #page6_textarea p {
    display: none;
  }

  /* Page 7 Full Section */

  #page7 {
    height: 90%;
    width: 100%;
    padding: 4vw;
  }

  #page7image {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-image: url(./page7\ assets/img1.jpg);
    background-size: cover;
    background-position: bottom;
  }

  /* Page 8 Full Section */

  #page8 {
    height: 100%;
  }

  #page8_text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page8_text-left h3 {
    width: 100%;
    font-size: 3vw;
    font-weight: 700;
  }

  #page8_text-right h6 {
    display: none;
  }

  /* Page 9 Full Section */

  #page9 {
    height: 80%;
    width: 100%;
  }

  #marque {
    padding: 1vw;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
  }

  #marque h1 {
    letter-spacing: 6px;
    font-size: 3vw;
    -webkit-text-stroke: 2.3px black;
    margin-right: 2px;
  }


  #page9_content {
    height: 90%;
    padding-bottom: 1vw;
  }

  #page9_left-section {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    /* background-color: greenyellow; */
  }

 
  #page9_left-section h1 {
    font-family: MONUMENT;
    font-size: 4.5vw;
    text-transform: uppercase;
  }

  /* Footer Full Section */

  #page10 {
    height: 40%;
    width: 100%;
    /* border: 3px solid; */
  }

  #footer {
    height: 30vh;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
  }

  #footer #part1 {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1vw 4vw;
  }

  #footer h1 {
    font-size: 4vw;
    letter-spacing: -2px;
  }

  #footer h1::after {
    top: -3%;
    right: -13%;
    font-size: 2vw;
  }

  #footer h1::before {
    top: 20%;
    right: -2%;
    font-size: 1.3vw;
  }

  #footer h2 {
    position: relative;
    top: 3%;
    font-size: 1.8vw;
  }

  #footer #part2 {
    height: 100%;
    width: 20%;
    padding-top: 1vw;
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
  }

  #footer #part2 h2 {
    font-size: 1.8vw;
  }

  #footer #part3 h2 {
    font-size: 1.8vw;
    font-weight: 700;
    border-bottom: 1.5px solid black;
  }

  #footer #part3 #socialmedia #links {
    font-size: 2vw;
  }

  #footer #part3 #socialmedia #links i {
    padding-right: 1vw;
  }

  #footer #part3 #socialmedia #information {
    font-size: 1.3vw;
  }
}


}
